* { box-sizing: border-box;}
:root{
    --red: #FF4242;
    --green: #5CF7B1;
    --blue: #1098F7;
}
.period-box {
    border-style: solid;
    border-width: 1px;
    display: block;
    width: 100px;
    height: 100px;
    background-color: var(--red);
    transition:
    width 2s,
    height 2s,
    background-color 2s,
    rotate 2s;
}


.period-box:hover {
    background-color: var(--green);
    width: 100%;
    height: 200px;
}

.text-link:hover .period{
    color: var(--red);
    transition: all 0.5s ease-out
}

.expand-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.home-text {
    border-left: 5px solid var(--blue);
}

#topNav {
    border-left: 5px solid var(--red);
    
}

img {
    border-left: 5px solid var(--green);
}