* { box-sizing: border-box;}

:root{
    --red: #FF4242;
    --green: #5CF7B1;
    --blue: #1098F7;
    --font1: 'Inter' , sans-serif;
}
.period-box {
    position: absolute;
    border-style: solid;
    border-width: 1px;
    display: block;
    width: 7px;
    height: 7px;
    background-color: var(--red);
    transition:
    width 2s,
    height 2s,
    background-color 2s,
    rotate 2s;
    top: 50.5%;
    right: 42.45%;
}

body {
    opacity: 1;
    font-family: var(--font1);
}

@keyframes fade-in {
    to {
        opacity: 0;
        scale: 1 0.9;
    }
}
/* think about turning this off for section 4 AKA the projects section */
#section1, #section2, #section3, #section4 {
    animation: fade-in linear forwards;
    animation-timeline: view(0px 750px);
    animation-range-start: cover;
/* make sure to look this up so we can explain how it works */
}

#section2, #section3, #section4 {
    background-color: var(--blue);
    color: white;
}

.portrait {
    border-left: 10px solid var(--green)
}


.period-box:hover {
    background-color: var(--green);
    width: 100%;
    height: 200px;
}

.text-link:hover .period{
    color: var(--red);
    transition: all 0.5s ease-out
}

.expand-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.nav-linkCSS {
    width: 100%;
    color: var(--blue);
}

.nav-linkCSS:hover {
    color: var(--green);
}

.triangles-top {
position: fixed;
top: 0;
left: 0;
}
.triangle-red {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 100px solid var(--red);
    border-right: 100px solid transparent;
    top: 0;
    left: 0;
}

.triangle-green {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 75px solid var(--green);
    border-right: 75px solid transparent;
    top: 0;
    left: 0;
}
.triangle-blue {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 50px solid var(--blue);
    border-right: 50px solid transparent;
    top: 0;
    left: 0;
}

.triangle-red-bottom {
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 100px solid var(--red);
    border-left: 100px solid transparent;
    bottom: 0;
    right: 0;
}

.triangle-green-bottom {
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 75px solid var(--green);
    border-left: 75px solid transparent;
bottom: 0;
right: 0;
}


.triangle-blue-bottom {
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 50px solid var(--blue);
    border-left: 50px solid transparent;
    bottom: 0;
    right: 0;
}

.triangles-bottom {
    position: fixed;
    bottom: 0;
    right: 0;
}

.home-text {
    border-left: 5px solid var(--blue);
    padding-left: 10px;
}


#topNav:first-child {
    border-left: 10px solid var(--red);
    padding-left: 10px;
}



.top-nav-item {
    font-size: calc(10px + (32 - 10) * ((100vw - 300px) / (1600 - 300)));
}

.top-nav-link {
    color: black;
}

.top-nav-link:hover {
    color: black;
    border-bottom: 10px solid var(--red);
    
}

.top-nav-link:active {
    border-bottom: 10px solid var(--green);
    transition: 0ms;
}



